<div class="dashboard-layout">


  <main class="content">
    <h1>Citas de Hoy</h1>
    <table>
      <thead>
        <tr>
          <th>Hora</th>
          <th>Cliente</th>
          <th>Servicio</th>
        </tr>
      </thead>
      <tbody>
        @for (cita of citasHoy(); track cita.hora) {
          <tr>
            <td>{{ cita.hora }}</td>
            <td>{{ cita.cliente }}</td>
            <td>{{ cita.servicio }}</td>
          </tr>
        }
      </tbody>
    </table>
  </main>
</div>
